<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">

    <title>Display subnet</title>
</head>
<body>
<h1> site name {{ site_name }}</h1>
<h1>subnet {{ subnet }}</h1>
<h1>loop {{ loop1 }}</h1>
<h1> dc_type {{ dc_type }}</h1>
<h1>Racks {{ racks }}</h1>

</body>
</html>